// 一个简单的reset
body {
	margin: 0;
	padding: 0;
}

body,
input,
select,
textarea,
h1,
h2,
h3,
h4,
h5 {
    font-family: "Hiragino Sans GB", "PingFang", "Microsoft Yahei", "宋体", "Lucida Grande", "Lucida Sans Unicode", Helvetica, Arial, Verdana, sans-serif;
}

a:hover,
a:focus {
	cursor: pointer;
	text-decoration: none;
}

@mixin absolute($l:initial, $t:initial, $r:initial, $b:initial) {
	position: absolute;
	left:$l;
	top:$t;
	right: $r;
	bottom: $b;
}
